body { margin: 0; padding: 0; }

@font-face {
    font-family: Museo;
    src: url(../font/Museo.otf);}

body.Home a.Home,
body.History a.History,
body.Phys a.Phys,
body.Chem a.Chem,
body.Prep a.Prep,
body.Ident a.Ident,
body.Toxic a.Toxic,
body.Uses a.Uses,
body.About a.About{
font-weight: bold;
color:lightgrey;}

#scroll {
    position:fixed;
    right:0.9%;
    bottom:1.5%;
    cursor:pointer;
    width:4.25%;
    height:8.75%;
    background-image: url("../img/BackToTop.png");
    background-size: cover;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;}

#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;}

#scroll:hover {
    background-image: url("../img/BackToTopHover.png");
    background-size: cover;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";}

#blurred-image-container {
    display:block;
    padding:0;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1;}

.img-src { 
    position: absolute;
    background:url(../img/Banners/Home.gif) center center;
    background-size: cover;
    width:102%;
    height:128%;}

.img-src.blurred-image {
    opacity:0;
    -webkit-filter: blur(20px) brightness(1);
    -ms-filter: blur(20px) brightness(1);
    -o-filter: blur(20px) brightness(1);
    filter: blur(20px) brightness(1);}

.AboveImg { 
    position: absolute;
    background:url(../img/White.jpg) center center;
    background-size: cover;
    width:101.5%;
    height:11%;
    top:-5%;
    z-index: 1}

.AboveImg.blurred-image {
    opacity:0;
    -webkit-filter: blur(2px) brightness(1);
    -ms-filter: blur(2px) brightness(1);
    -o-filter: blur(2px) brightness(1);
    filter: blur(2px) brightness(1);}

.Header{    
    width:93.75%;height:8.25%;
    position: fixed;
    top:1.5%;
    left:5.5%;
    z-index: 1;
    background-image: url("../img/Black.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    border-radius: 7px;}

.Nav{    
    width:17.5%;height:86%;
    position: fixed;
    top:11.5%;
    left:1%;
    z-index: 1;
    background-image: url("../img/Black.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    border-radius: 7px;}

.Index{
    position: absolute;
    top: 50%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    font-family: Museo;
    font-size:4vh;
    color:white;}

.IndexWid{
    position: relative;
    -webkit-text-align-last:left;
    text-align-last:left;
    width: 101%;
    border-radius: 7px;}

.AnotherCard{    
    width:33%;height:100%;
    top:110%;
    left:24.75%;
    position: absolute;
    z-index: -1;
    background-image: url("../img/White.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    border-radius: 7px;}

.Card{    
    width:33%;height:100%;
    top:110%;
    left:24.75%;
    position: absolute;
    z-index: -1;
    background-image: url("../img/Black.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    border-radius: 7px;}

.Logo{
    width: 5%;
    height: 110%;
    margin-top:0.1%;
    margin-left:-5.5%;}

.Name{
    font-family: Museo;
    font-size:5.5vh;
    color:white;position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%)}

.Gap{    
    width:33%;height:100%;
    top:9.5%;
    left:25%;
    position: absolute;
    z-index: -1;}

.LogoDes{
    position: absolute;
    margin-left: 68%;
    margin-top:-13%;
    width:40%;
    height:48%;
    pointer-events: none;
    z-index: 4}

.White{
    height: 65%;
    width:100%;
    margin-top: 28.5%;
    border-radius: 1px 1px 5px 5px;}

.Above{
    position: fixed;
    background-image: url("../img/White.jpg")
    color:white;}

.reveal-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden}

.reveal-wrapper:hover .reveal-top{
    top:100%;}

.reveal-content{}

.reveal-top{
    box-shadow: 0px 4px 8px 5px rgba(0,0,0,0.8);
    background-image: url("../img/White.jpg");
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    border-radius: 7px;
    transition: top 0.7s ease;}

.WeAre{
    text-align: left;
    position: absolute;
    top: 44%;
    left: 28%;
    transform: translate(-22%, -40%);
    color: black;
    font-family: Museo;
    font-size: 3.8vh}

.WhoWe{
    position: absolute;
    top: 31%;
    left: 17%;
    transform: translate(-20%, -20%);
    color: black;
    font-family: Museo;
    font-size: 8.5vh}

.NameDes{
    position: absolute;
    top: 160%;
    left: 95%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: Museo;
    font-size: 10vh;}

.Definition{
    text-align: left;
    position: absolute;
    top: 41%;
    left: 25%;
    transform: translate(-22%, -40%);
    color: white;
    font-family: Museo;
    font-size: 4.1vh}

.TitleStruc{
    margin-left:2%;
    color:white;
    font-family: Museo;
    font-size: 8vh}

.TitleDes{
    color:white;
    font-family: Museo;
    font-size: 8.3vh}

.MaUglassName{
    margin-left:5%;
    color: black;
    font-family: Museo;
    font-size: 8vh}

.Role{
    margin-left:35.5%;
    color: black;
    font-family: Museo;
    font-size: 3vh}

.RolePlay{
    margin-top: -1%}

.MadeBy{
    margin-left:5%;
    color: black;
    font-family: Museo;
    font-size: 3vh}

.MadeByPlace{
    margin-bottom: -2%}

.Maker{
    margin-top: 3%;       
    pointer-events: none;}

.Love{
    display: inline-block;
    font-size: 3vh;
    font-family: Museo;
    color:black;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%)}

.Result{
    font-size: 3vh;
    font-family: Museo;
    color:black;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%)}

.Structure-1{
    width:110%;
    height:93%;
    margin-left:-25%;
    margin-top:-18%;}

.Structure-2{
    width:105%;
    height:125%;
    margin-left:-67%;
    margin-top:9%;
    position: absolute;}

.Structure-3{
    width:125%;
    height:108%;
    margin-left:-32%;
    margin-top:-17%;}

.StrucDesc-1{
    text-align: left;
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-22%, -40%);
    color: white;
    font-family: Museo;
    font-size: 5vh}

.StrucDesc-2{
    text-align: left;
    position: absolute;
    top: 72%;
    right: -5%;
    transform: translate(-22%, -40%);
    color: white;
    font-family: Museo;
    font-size: 5vh}

.mySlides {
    display:none;}

.w3-left, .w3-right, .w3-badge {
    cursor:pointer}

.w3-badge {
    height:9.5%;
    width:0.5%;
    margin-top: 10%;}

.Social{
    margin-left:88%;
    margin-right:-88%;
    margin-top:-1.5%;
}

.Icon{
    width:3.1%; 
    height:3.1%;}

.LoveButton{
    width: 99%;
    height:99%;}

.LoveThis{
    margin-left:3%;
    width:12%;
}

.LoveButton:hover{
        background-image: url("../img/LoveHover.png");
    }

